:root {
  --main-hover-color: '#5F8125';
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

div.h1 {
  width: 1285.6px;
  height: 110px;
}

header {
  width: 100%;
  height: 110px;
  margin: 0px 64.4px;
  padding: 25px 0px 15px;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font: 15px opensarsregular;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #686868;
}

.contacts span svg {
  height: 13px;
  padding-top: 3px;
  font-size: large;
}

.contact-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-left: 4rem;
}

.contact-links a {
  list-style: none;
  text-decoration: none;
  color: #686868;
}

.contact-links a::after {
  content: ' |';
}

.h_right {
  color: #686868;
  width: 54.2px;
  height: 283.14px;
  padding: 2px 0px 0px;
}

.row2 {
  border-top: 3px solid #e1e0df;
  width: 100%;
  color: #686868;
  background-color: #f1f1f1;
  position: sticky;
  top: 0px;
  z-index: 5;
  /* padding-left: 70px; */
}
.row2 ul {
  width: 100%;
  max-height: 75px;
  list-style: none;
  display: flex;
  margin-left: 200px;
}
.row2 ul li a {
  display: inline-block;
  background-color: #f1f1f1;
  text-decoration: none;
  /* color: #fff; */
  color: #686868;
  text-align: center;
  font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 25px;
}
#baksa {
  background-color: #5f8125;
  color: #ffffff;
  border-top: 3px solid black;
  position: relative;
  display: inline-block;
}
.imagebox {
  display: flex;
  margin-left: 8rem;
}
.row2 ul li a svg {
  color: #686868;
  height: 13px;
  margin-right: 3px;
}

.row2 ul li a {
  position: relative;
}

.row2 ul li a:hover {
  background-color: var(--main-hover-color);
  color: #ffffff;
  border-top: 3px solid black;
}

.navsubmenu {
  display: none;
  position: absolute;
  bottom: -100%;
  left: 89px;
  z-index: 2;
}

.secondnav {
  left: 230px;
}

.navsubmenu ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.navsubmenu ul li {
  color: white !important;
}

.navsubmenu ul li a {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
  padding: 1rem;
}

.navsubmenu ul li:hover {
  background-color: var(--main-hover-color);
  color: #ffffff;
  border: none;
}

.navsubmenu ul li a:hover {
  background-color: var(--main-hover-color);
  color: #ffffff;
  border: none;
}

.img1 ul {
  height: 365px;
  display: block;
  width: 100%;
  position: relative;
  transition: all 0.5s;
}

.img1 img {
  height: 365px;
  object-fit: cover;
}

.row3 {
  height: 136.4px;
  width: 100%;
  color: #ffffff;
  background-color: #5f8125;
  display: flex;
  border-left: 1px solid #ffffff;
  list-style: none;
  padding-left: 11rem;
}

.controls {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 4;
}

.img1:hover .control {
  display: flex;
}

.control {
  display: none;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.8;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control:hover {
  opacity: 1;
}

.abc {
  width: 193px;
  height: 100%;
  padding: 20px 10px 20px 10px;
  list-style: none;
  border-left: 1px solid #ffffff;
}
.abcd {
  width: 173px;
  height: 48px;
  margin-bottom: 30px;
  list-style: none;
}
.dot1 {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 65px;
  display: inline-block;
  padding-top: 15px;
  text-align: center;
  list-style: none;
}

.dot1 svg {
  color: var(--main-hover-color);
}

.texta {
  text-align: center;
  font-size: 14px;
  list-style: none;
}
.block {
  height: 48px;
}
.main {
  height: 1183.68px;
  width: 1140px;
  border-bottom: 1px solid #5f815f;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 64.4px;
  margin-right: 64.4px;
  display: flex;
}
.col_l {
  height: 100%;
  width: 842.99px;
  position: relative;
  display: inline;
  margin-left: 8rem;
}
.upar {
  height: 307.48px;
  width: 100%;
  margin-bottom: 50px;
  list-style: none;
}
.col_l ul li {
  list-style: none;
}
.part1 {
  width: 100%;
  height: 307.48px;
  display: flex;
}
.left {
  height: 246.08px;
  width: 403.74px;
  padding: 4px;
  border: 1px solid #e1e0df;
}
.image_1 {
  height: auto;
  width: auto;
  max-width: 100%;
}
.right {
  margin-left: 35.487px;
  height: 238px;
  width: 403.737px;
}
.a1 {
  height: 20.8px;
  width: 100%;
  margin-bottom: 30px;
  color: #686868;
  font: 18px 'Times New Roman', Times, serif;
}
.a2 {
  height: 145.6px;
  color: #686868;
  width: 100%;
  font-size: 13px;
  font-family: 'opensansregular', Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  line-height: 1.6em;
}
.a3 {
  margin-top: 17px;
}
.niche {
  height: 746.2px;
  width: 100%;
  list-style: none;
  display: flex;
}
.left1 {
  /* height: 746.2px; */
  height: 100%;
  width: 257.33px;
  color: #686868;
}
.left1 ul li {
  display: flex;
}
.logo2 {
  width: 27.86px;
  height: 26.4px;
}
.logo2 a {
  color: #ffffff;
}
.para {
  margin-left: 1rem;
  color: #ffffff;
  text-decoration: none;
}
.para a {
  color: #ffffff;
  text-decoration: none;
}
.box {
  height: 76.4px;
  width: 100%;
  padding: 20px;
  color: #ffffff;
  margin-bottom: 25px;
}

.red-box {
  background-color: #800000;
}
.purple-box {
  background-color: #795984;
}
.green-box {
  background-color: #84b533;
}
.salmon-box {
  background-color: #fda46a;
}
.yellow-box {
  background-color: #ffc600;
}
.maroon-box {
  background-color: #b9282c;
}
.blue-box {
  background-color: #56aed4;
}

.red-box:hover {
  background-color: #400000;
}
.purple-box:hover {
  background-color: #48344e;
}
.green-box:hover {
  background-color: #98ba55;
}
.salmon-box:hover {
  background-color: #a66000;
}
.yellow-box:hover {
  background-color: #d2a402;
}
.maroon-box:hover {
  background-color: #7a1b1d;
}
.blue-box:hover {
  background-color: #1c546c;
}

.r1 {
  display: flex;
  width: 100%;
  height: 36.8px;
  margin-bottom: 17px;
}
.r1:hover {
  color: #ffffff;
  background-color: #84b533;
  border-color: #ffffff;
}
.rect:hover {
  color: #ffffff;
}
.rect1:hover {
  color: #ffffff;
}
.rect1 {
  width: 35.6px;
  height: 100%;
  color: #84b533;
  border-left: 1px solid #e1e0df;
  border-top: 1px solid #e1e0df;
  border-bottom: 1px solid #e1e0df;
}
.rect {
  width: 514.55px;
  height: 100%;
  color: #84b533;
  border: 1px solid #e1e0df;
  padding: 8px 15px;
  font-size: 14px;
  font-family: 'opensansregular', Arial, Helvetica, sans-serif;
}
.right1 {
  height: 366.8px;
  width: 550.15px;
  margin-left: 35.4875px;
  color: #686868;
}
.col_r {
  height: 100%;
  width: 249px;
  margin-left: 3rem;
  position: relative;
  display: inline;
}
.col_r ul li {
  list-style: none;
}
.heading {
  height: 31.4px;
  border-bottom: 1px solid #e1e0df;
  padding-bottom: 5px;
  font-size: 22px;
  color: #686868;
  margin-bottom: 30px;
}
.event {
  height: 245px;
  margin-bottom: 50px;
  display: flex;
}
.dabba {
  position: relative;
  display: inline;
  display: block;
  background-color: #5f8125;
  color: #ffffff;
  font-size: 13px;
  font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
  height: 63px;
  width: 59px;
  margin-right: 10px;
  border-radius: 15%;
  padding-right: 2px;
  padding-bottom: 2px;
}
.month {
  height: 20.8px;
  text-align: center;
  padding-top: 4px;
}
.date {
  height: 40px;
  width: 55px;
  border-radius: 10%;
  background-color: #84b533;
  margin-left: 2px;
  align-content: center;
  text-align: center;
  font-size: 1.6em;
}
.text-2 {
  width: 100%;
  text-decoration: none;
  color: #5f8125;
}
.last {
  padding-top: 3px;
  color: #686868;
  font: 13px 'OpenSansRegular', Arial, Helvetica, sans-serif;
}
.links {
  height: 232.6px;
  width: 100%;
}
.links1 {
  height: 232.6px;
  width: 100%;
}
.links1 ul li {
  color: #666666;
  height: 34.6px;
  width: 100%;
  padding: 5px 10px 8px 15px;
  border-bottom: 1px solid #e1e0df;
  margin-bottom: 5px;
}
.links1 ul li a {
  color: #666666;
  text-decoration: none;
}
.reference {
  height: 314.4px;
  width: 100%;
  background-color: #5f8125;
  color: #e1e0df;
  border-top: 1px solid #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 8rem;
}
.linkblock {
  height: 273.6px;
  margin-left: 64.4px;
  margin-right: 64.4px;
  display: flex;
}
.col1 {
  width: 189.6px;
  height: 248px;
  position: relative;
  display: inline;
}
.col2 {
  position: relative;
  display: inline;
  width: 189.6px;
  height: 214.4px;
  margin: 0 0 0 4.21052631578947%;
}
.col3 {
  position: relative;
  display: inline;
  width: 189.6px;
  height: 256.6px;
  margin: 0 0 0 4.21052631578947%;
}
.col4 {
  position: relative;
  display: inline;
  width: 189.6px;
  height: 230.4px;
  margin: 0 0 0 4.21052631578947%;
}
.col5 {
  position: relative;
  display: inline;
  width: 189.6px;
  height: 204.8px;
  margin: 0 0 0 4.21052631578947%;
}
.linkblock ul li {
  margin: 0 0 8px 0;
  height: 17.6px;
  width: 100%;
  color: #e1e0df;
  font-family: 13px 'OpenSansRegular', Arial, Helvetica, sans-serif;
}
.linkblock ul {
  list-style-type: none;
  color: #e1e0df;
}
.linkblock ul li a {
  text-decoration: none;
  color: #e1e0df;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer {
  height: 274.837px;
  border-top: 1px solid #ffffff;
  color: #e1e0df;
  background-color: #24320e;
  display: block;
}

.footer ul {
  list-style: none;
}

.top {
  height: 190px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 64.4px;
  margin-right: 64.4px;
  display: flex;
  padding-left: 8rem;
}
.top ul {
  list-style-type: none;
}
.top ul a {
  text-decoration: none;
}
.col_1 {
  position: relative;
  display: inline;
  height: 150px;
  width: 249px;
}
.top a {
  height: 100%;
  width: 100%;
}
.logo1 {
  height: 48px;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.dot {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #5f8125;
  display: inline-block;
  padding-top: 15px;
}
.text1 {
  height: 16.8px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}
.nospace {
  height: 17.6px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
}
.col_2 {
  position: relative;
  display: inline;
  height: 150px;
  width: 249px;
  margin-left: 48px;
}
.col_3 {
  position: relative;
  display: inline;
  height: 150px;
  width: 249px;
  margin-left: 48px;
}
.col_4 {
  position: relative;
  display: inline;
  height: 150px;
  width: 249px;
  margin-left: 48px;
}
.bottom {
  height: 84.84px;
  margin-left: 64.4px;
  margin-right: 64.4px;
  border-top: 1px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.playstore {
  height: 46.44px;
  text-align: center;
}
.last_1 {
  display: flex;
  width: 100%;
  height: 17.6px;
}
.l_2 {
  height: 100%;
  width: 350.26px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 7rem;
}
.r_2 {
  height: 100%;
  width: 330.26px;
  margin-left: 32rem;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.top-wrapper {
  background-color: #5f8125;
  max-width: 100vw;
  width: 100vw;
  transition: all 1s;
  position: absolute;
  transform: translateY(-85px);
}

.top-panel {
  width: 1140px;
  margin: auto;
  background-color: #5f8125;
  height: 80px;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.search-bar {
  margin-left: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
}

.search-bar input {
  background-color: #84b533;
  color: white;
  height: 40px;
  width: 257px;
  border: none;
  padding: 5px;
  outline: none;
}

.search-bar button {
  background-color: #b4d878;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  padding: 5px;
  color: white;
  outline: none;
}

.color-boxes {
  display: flex;
  gap: 0.1rem;
  align-items: center;
  padding: 5px 15px;
}

.colorbox {
  height: 26px;
  width: 36px;
  background-color: red;
  cursor: pointer;
}

.colorbox:hover {
  filter: brightness(0.5);
}

.colorbox:nth-child(1) {
  background-color: #84b533;
}
.colorbox:nth-child(2) {
  background-color: #b9282c;
}
.colorbox:nth-child(3) {
  background-color: #56aed4;
}
.colorbox:nth-child(4) {
  background-color: #fda46a;
}
.colorbox:nth-child(5) {
  background-color: #48344e;
}

.sliderDiv {
  position: absolute;
  bottom: -40%;
  left: 50%;
  width: 60px;
  height: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #84b533;
  color: white;
  font-weight: bold;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

@keyframes fadeOut {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(1);
  }
}
